<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :serie %><br>
    <%= f.text_field :serie %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.number_field :height %>
  </div>
  <div class="field">
    <%= f.label :number_drawers %><br>
    <%= f.number_field :number_drawers %>
  </div>
  <div class="field">
    <%= f.label :double_door %><br>
    <%= f.check_box :double_door %>
  </div>
  <div class="field">
    <%= f.label :single_door %><br>
    <%= f.check_box :single_door %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
