<p id="notice"><%= notice %></p>

<h4 class="title">Listing Items</h4>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Module</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.order.order_number.to_s[0..2]%>.<%= item.order.order_number.to_s[3..4] %>.<%= item.order.order_number.to_s[5..7] %></td>
        <td><%= link_to(item.serie + item.height.to_s + "-" + item.number_drawers.to_s + ( item.double_door ? "DD" : "" ) + ( item.single_door ? "D" : "" ), item_drawer_path(item) ) %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
