<p id="notice"><%= notice %></p>
<div class="container">
<p>Items Order</p>
<h5 class="title">Items from order  #<%= @order.order_number.to_s[0..2] + "." + @order.order_number.to_s[3..4] + "." + @order.order_number.to_s[5..7]%></h5>

<table id="indexItems">
  <thead>
    <tr>
      <th>Module</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>

    <% @items.each do |item| %>
      <tr>
        <td><%= link_to(item.serie + item.height.to_s + "-" + item.number_drawers.to_s + ( item.double_door ? "DD" : "" ) + ( item.single_door ? "D" : "" ), item_path( item ), { class: 'color tooltipped', title: '', data: { toggle: 'tooltip', position: 'left', tooltip: 'View Module Details', delay:'10' } } ) %></td>

        <td>
        <%= link_to  item_drawer_path(item) do %>
          <i class="material-icons color tooltipped  data-position="left" data-delay="10" data-tooltip="Drawer Details" ">reorder</i>
        <% end %>

        <%= link_to edit_item_path( item ) do %>
          <i class="material-icons color tooltipped data-position="bottom" data-delay="10" data-tooltip="Edit Module" ">edit</i>
        <% end %>

        <%= link_to item_path( item ), :method => :delete, data: {confirm: "Are you sure?"} do %>
          <i class="material-icons color tooltipped data-position="right" data-delay="10" data-tooltip="Delete Module" ">delete</i>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', order_index_path  %>
<span>|</span>
<%= link_to 'New Item', order_items_new_path(@order) %>
<span>|</span>
<%= link_to 'Back', :back %>
</div>
