<p id="notice"><%= notice %></p>
<div class="container">
<h4 class="title">Listing Items</h4>

<table id="indexItems">
  <thead>
    <tr>
      <th>Order</th>
      <th colspan="4">Module</th>
    </tr>
  </thead>

  <tbody>

    <% @items.each do |item| %>
      <tr>
        <td><%= link_to (item.order.order_number.to_s[0..2] + "." + item.order.order_number.to_s[3..4] + "." + item.order.order_number.to_s[5..7]), order_index_path %></td>
        <td><%= link_to(item.serie + item.height.to_s + "-" + item.number_drawers.to_s + ( item.double_door ? "DD" : "" ) + ( item.single_door ? "D" : "" ), item_drawer_path(item) ) %></td>
        <td>
        <%= link_to item_path( item ) do %>
          <i class="material-icons color tooltipped  data-position="left" data-delay="10" data-tooltip="reorder" ">reorder</i>
        <% end %></td>
        <td>
        <%= link_to edit_item_path( item ) do %>
          <i class="material-icons color tooltipped data-position="bottom" data-delay="10" data-tooltip="edit" ">edit</i>
        <% end %></td>
        <td><%= link_to item_path( item ), :method => :delete, data: {confirm: "Are you sure?"} do %>
          <i class="material-icons color tooltipped data-position="top" data-delay="10" data-tooltip="delete" ">delete</i>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
</div>
