<!-- <p id="notice"><%= notice %></p> -->
<div class="container">
  <p>Show Item</p>
    <h5 class="title">MODULE
        <%= @item.serie + @item.height.to_s + "-" + @item.number_drawers.to_s + ( @item.double_door ? "DD" : "" ) + ( @item.single_door ? "D" : "" ) %></h3>

    <table id="showItem">
        <thead>
            <tr>
                <th>Client</th>
                <th>Order</th>
                <th>Serie</th>
                <th>Size</th>
                <th>Number of Drawers</th>
                <th>Doors</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%= @item.order.order_number %></td>
                <td><%= @item.order.description %></td>
                <td><%= @item.serie %></td>
                <td><%= @item.height %></td>
                <td><%= @item.number_drawers %></td>
                <td><%= ( @item.double_door ? "DOUBLE" : "" ) + ( @item.single_door ? "SINGLE" : "" )%></td>
            </tr>
        </tbody>
    </table>

    <% @item.drawers.each do |drawer| %>
      <%= link_to drawer.drawer_number, item_drawers_show_path(@item, drawer) %>
      <br>
    <% end %>


    <br>

    <%= link_to 'Edit', edit_item_path(@item) %>
    |
    <%= link_to 'Home', root_path %>
    |
    <%= link_to "Back", :back %>

</div>
